body {
  background-color: black;
  padding-top: 60px;
}

.btn-whatsapp-pulse {
  background: #25d366;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 35px;
  text-decoration: none;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.fa-whatsapp {
  font-size: 30px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }

  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.btn-whatsapp-pulse-border {
  bottom: 30px;
  right: 20px;
  /* animation-play-state: paused; */
}

.btn-whatsapp-pulse-border::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  border: 5px solid #25d366;
  opacity: 0.75;
  animation-name: pulse-border;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulse-border {
  0% {
    padding: 25px;
    opacity: 0.75;
  }

  75% {
    padding: 50px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.nav-head {
  padding: 0px 50px 0px 50px;
}

.btn12 {
  /* position: absolute; */
  width: 60px;
  height: 60px;
  top: 300px;
  left: 315px;
  transition-duration: 0.5s;
}

.btn12 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 42px;
  background-color: orange;
}

.btn12 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: orange;
  content: "";
  top: -10px;
}

.btn12 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: orange;
  content: "";
  top: 10px;
}

.btn12.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}

.btn12.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}

.btn12.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

.btn12:hover {
  cursor: pointer;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.about-us {
  padding: 15vh;
}

.name-about-us {
  font-size: 50px;
}

.images-profile {
  height: 85vhh;
}

.education-text {
  font-size: 25px;
}

.name-about-us {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.01em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(255, 255, 255);
  }
}

.about-us-para {
  font-size: 20px;
  color: aqua;
}

.fa-linkedin {
  padding-right: 50px;
  padding-left: 50px;
}

.fa-about-us {
  font-size: 20px;
  color: white;
}

.text-project {
  padding: 100px;
}

.proj-img {
  border: 40px solid rgb(0, 187, 255);
  border-radius: 20px;
  height: 80vh;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  /* color: aqua; */
  background-color: rgb(71, 255, 184);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 10px 5px;
  color: rgb(170, 0, 255);
  font-size: 20px;
}

.owl-nav {
  text-align: center;
}

.text-project,
.skills-head,
.resume-head {
  font-size: 40px;
}

.con-img {
  height: 50vh;
  border-left: 5px solid cyan;
  padding-left: 50px;
}

.a-head {
  text-decoration: none;
  color: aqua;
}

.phrase-text {
  font-size: 25px;
  text-align: center;
  padding-left: 70px;
  padding-top: 10px;
}

.port-img {
  height: 70vh;
  text-align: center;
}

@media only screen and (max-width: 787px) {
  body {
    padding: 0px;
  }

  .hey-name {
    padding-left: 25px;
  }

  .name-about-us {
    font-size: 35px;
    text-align: center;
  }

  .name-about-us {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: 0.em; */
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }

    100% {
      border-color: rgb(255, 255, 255);
    }
  }

  .about-us {
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .skills-head {
    padding-top: 50px;
  }

  .about-us-para {
    font-size: 20px;
    color: aqua;
  }

  .fa-whatsapp {
    font-size: 50px;
  }

  .fa-linkedin {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* .fa {
    font-size: 20px;
    color: white;
  } */

  .proj-num {
    margin-top: 20px;
  }

  .text-project {
    padding: 20px;
  }

  .proj-sec {
    text-align: center;
  }

  .owl-text {
    text-align: center;
  }

  .proj-img {
    border: 20px solid rgb(0, 187, 255);
    border-radius: 20px;
    height: 40vh;
  }

  .footer {
    font-size: 8px;
  }

  .nav-head {
    position: static;
    padding: 0px;
    padding: 15px 12px 0px 12px;
  }

  .btn-whatsapp-pulse-border {
    bottom: 10px;
    right: 10px;
    z-index: 300;
    /* animation-play-state: paused; */
  }
}
